<!-- =========================== HEADER ========================== -->

<div class="row">
</div>

<!-- =========================== TITLE =========================== -->
<div class="row">
    <div class="twelve columns">
        <h1>{{context.title}}</h1>
    </div>
</div>

<!-- =========================== BODY  =========================== -->
<!-- +++++++++++++++++++++++++++ ROW 1 +++++++++++++++++++++++++++ -->
<div class="my-title">
    <div class="row">
        <div class="twelve columns">
            <h2>Outstanding bugs</h2>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <h6>
                Included statuses: New, To Do, Reopened, Blocked, Failed QA, In Progress, Ready for QA, In QA<br />
                Excluded statuses: Rejected, Done
            </h6>
        </div>
    </div>
</div>

<div class="row">
    <div class="one column">
        &nbsp;
    </div>
    <div class="six columns">
        <div id="chart-canvas">
            <canvas id="myChart" width="300" height="325"></canvas>
        </div>
    </div>
    <div class="four columns">
        <div id="chart-table-outstanding-bugs">
            <table class="u-full-width">
                <tbody>
                    <tr>
                        <td>{{count_status context.bugs "new"}} ({{status_percent context.bugs "new"}}%)</td>
                        <th>New</th>
                    </tr>
                    <tr>
                        <td>{{count_status context.bugs "to do"}} ({{status_percent context.bugs "to do"}}%)</td>
                        <th>To Do</th>
                    </tr>
                    <tr>
                        <td>{{count_status context.bugs "reopened"}} ({{status_percent context.bugs "reopened"}}%)</td>
                        <th>Reopened</th>
                    </tr>
                    <tr>
                        <td>{{count_status context.bugs "blocked"}} ({{status_percent context.bugs "blocked"}}%)</td>
                        <th>Blocked</th>
                    </tr>
                    <tr>
                        <td>{{count_status context.bugs "failed qa"}} ({{status_percent context.bugs "failed qa"}}%)</td>
                        <th>Failed QA</th>
                    </tr>
                    <tr>
                        <td>{{count_status context.bugs "in progress"}} ({{status_percent context.bugs "in progress"}}%)</td>
                        <th>In Progress</th>
                    </tr>
                    <tr>
                        <td>{{count_status context.bugs "ready for qa"}} ({{status_percent context.bugs "ready for qa"}}%)</td>
                        <th>Ready for QA</th>
                    </tr>
                    <tr>
                        <td>{{count_status context.bugs "in qa"}} ({{status_percent context.bugs "in qa"}}%)</td>
                        <th>In QA</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="one column">
        &nbsp;
    </div>
</div>

<script>
    {{!--
    var data = JSON.parse({{{stringify}}});
    console.log(data);
    --}}
    {{!-- This is how you get your object from the server side to the client --}}
    {{!-- You will need to construct you object so it can be safely parse, e.g. numbers, no quotes --}}

    var ctx = document.getElementById("myChart").getContext("2d");
    ctx.canvas.width = 300;
    ctx.canvas.height = 325;

    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            // use the non-Done states from JIRA, so Done and Rejected are omitted!
            labels: ["New", "Todo", "Reopened", "Blocked", "Failed QA", "In Progress", "Ready for QA", "In QA"],
            datasets: [{
                label: '# of Votes',
                data: {{nonDoneStatusCountsArray context.bugs}},
                backgroundColor: [
                    'rgba(4, 29, 55, 0.7)',     // new
                    'rgba(19, 50, 83, 0.7)',    // todo
                    'rgba(43, 75, 111, 0.7)',   // reopened
                    'rgba(190, 95, 124, 0.7)',  // blocked
                    'rgba(114, 19, 48, 0.7)',   // failed qa
                    'rgba(244, 193, 91, 0.7)',  // in progress
                    'rgba(207, 162, 73, 0.7)',  // ready for qa
                    'rgba(170, 132, 57, 0.7)'   // in qa
                ],
                borderColor: [
                    'rgba(60, 52, 38, 1)',
                    'rgba(60, 52, 38, 1)',
                    'rgba(60, 52, 38, 1)',
                    'rgba(60, 52, 38, 1)',
                    'rgba(60, 52, 38, 1)',
                    'rgba(60, 52, 38, 1)',
                    'rgba(60, 52, 38, 1)',
                    'rgba(60, 52, 38, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            },
            responsive: false
        }
    });
</script>

{{!-- Not needed for this template
<!-- +++++++++++++++++++++++++++ ROW 2 +++++++++++++++++++++++++++ -->
<div class="row">
    <div class="twelve columns">
        <div class="my-title">
            <h2>Stories, Tasks, Bugs</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="one column">
        &nbsp;
    </div>
    <div class="ten columns">
        <table class="u-full-width">
            <thead>
                <tr>
                    <th></th>
                    <th>Total</th>
                    <th>Done</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Stories</th>
                    <td>{{context.stories.length}}</td>
                    <td>{{done context.stories}}</td>
                </tr>
                <tr>
                    <th>Tasks</th>
                    <td>{{context.tasks.length}}</td>
                    <td>{{done context.tasks}}</td>
                </tr>
                <tr>
                    <th>Bugs</th>
                    <td>{{context.bugs.length}}</td>
                    <td>{{done context.bugs}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="one column">
        &nbsp;
    </div>
</div>

<!-- +++++++++++++++++++++++++++ ROW 3 +++++++++++++++++++++++++++ -->

<div class="row">
    <div class="twelve columns">
        <div class="my-title">
            <h3>Stories</h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="one column">
        &nbsp;
    </div>

    <div class="ten columns">
        <table class="u-full-width">
            <thead>
                <tr>
                    <th>
                        KEY
                    </th>
                    <th>
                        SUMMARY
                    </th>
                    <th>
                        RELATED
                    </th>
                    <th>
                        STATUS
                    </th>
                </tr>
            </thead>
            <tbody>
                {{#each context.stories}}
                <tr>
                    <td>
                        {{{jiralabel fields.issuetype.iconUrl fields.issuetype.name key}}}
                    </td>
                    <td class="td-summary">
                        {{{fields.summary}}}
                    </td>
                    <td>
                        {{#if fields.issuelinks.length}}
                            {{#each fields.issuelinks}}
                                {{#if this.outwardIssue}}
                                    <div>
                                    {{this.type.outward}} {{{buglabel_summary this.outwardIssue.fields.issuetype.iconUrl this.outwardIssue.key this.outwardIssue.fields.summary}}}
                                    </div>
                                {{/if}}
                                {{#if this.inwardIssue}}
                                    <div>
                                    {{this.type.inward}} {{{buglabel_summary this.inwardIssue.fields.issuetype.iconUrl this.inwardIssue.key this.inwardIssue.fields.summary}}}
                                    </div>
                                {{/if}}
                            {{/each}}
                        {{else}}
                            -
                        {{/if}}
                    </td>
                    <th>
                        {{fields.status.name}}
                    </th>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    
    <div class="one column">
        &nbsp;
    </div>
</div>

<!-- +++++++++++++++++++++++++++ ROW 4 +++++++++++++++++++++++++++ -->

<div class="row">
    <div class="twelve columns">
        <div class="my-title">
            <h3>Tasks</h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="one column">
        &nbsp;
    </div>

    <div class="ten columns">
        <table class="u-full-width">
            <thead>
                <tr>
                    <th>
                        KEY
                    </th>
                    <th>
                        SUMMARY
                    </th>
                    <th>
                        RELATED
                    </th>
                    <th>
                        STATUS
                    </th>
                </tr>
            </thead>
            <tbody>
                {{#each context.tasks}}
                <tr>
                    <td>
                        {{{jiralabel fields.issuetype.iconUrl fields.issuetype.name key}}}
                    </td>
                    <td class="td-summary">
                        {{{fields.summary}}}
                    </td>
                    <td>
                        {{#if fields.issuelinks.length}}
                            {{#each fields.issuelinks}}
                                {{#if this.outwardIssue}}
                                    <div>
                                    {{this.type.outward}} {{{buglabel_summary this.outwardIssue.fields.issuetype.iconUrl this.outwardIssue.key this.outwardIssue.fields.summary}}}
                                    </div>
                                {{/if}}
                                {{#if this.inwardIssue}}
                                    <div>
                                    {{this.type.inward}} {{{buglabel_summary this.inwardIssue.fields.issuetype.iconUrl this.inwardIssue.key this.inwardIssue.fields.summary}}}
                                    </div>
                                {{/if}}
                            {{/each}}
                        {{else}}
                            -
                        {{/if}}
                    </td>
                    <th>
                        {{fields.status.name}}
                    </th>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    
    <div class="one column">
        &nbsp;
    </div>
</div>
--}}

<!-- +++++++++++++++++++++++++++ ROW 5 +++++++++++++++++++++++++++ -->

<div class="row">
    <div class="twelve columns">
        <div class="my-title">
            <h3>Bugs</h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="one column">
        &nbsp;
    </div>

    <div class="ten columns">
        <table class="u-full-width">
            <thead>
                <tr>
                    <th>
                        KEY
                    </th>
                    <th>
                        SUMMARY
                    </th>
                    <th>
                        RELATED
                    </th>
                    <th>
                        STATUS
                    </th>
                </tr>
            </thead>
            <tbody>
                {{#each (sort_by_status context.bugs)}}
                <tr>
                    <td>
                        {{{jiralabel fields.issuetype.iconUrl fields.issuetype.name key}}}
                    </td>
                    <td class="td-summary">
                        {{{fields.summary}}}
                    </td>
                    <td>
                        {{#if fields.issuelinks.length}}
                            {{#each fields.issuelinks}}
                                {{#if this.outwardIssue}}
                                    <div>
                                    {{this.type.outward}} {{{buglabel_summary this.outwardIssue.fields.issuetype.iconUrl this.outwardIssue.key this.outwardIssue.fields.summary}}}
                                    </div>
                                {{/if}}
                                {{#if this.inwardIssue}}
                                    <div>
                                    {{this.type.inward}} {{{buglabel_summary this.inwardIssue.fields.issuetype.iconUrl this.inwardIssue.key this.inwardIssue.fields.summary}}}
                                    </div>
                                {{/if}}
                            {{/each}}
                        {{else}}
                            -
                        {{/if}}
                    </td>
                    <th>
                        {{fields.status.name}}
                    </th>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    
    <div class="one column">
        &nbsp;
    </div>
</div>