<!-- =========================== HEADER ========================== -->

<div class="row">
</div>

<!-- =========================== TITLE =========================== -->
<div class="row">
    <div class="ten columns">
        <h1>Test Report: {{context.title}}</h1>
    </div>
    <div class="two columns header-date">
        <h6>Generated on:<br />{{current_date}}</h6>
    </div>
</div>

<!-- =========================== BODY  =========================== -->
<!-- +++++++++++++++++++++++++++ ROW 1 +++++++++++++++++++++++++++ -->

<div class="row">
    <div class="twelve columns">
        <div class="my-title">
            <h2>Test Runs</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="one column">
        &nbsp;
    </div>
    <div class="five columns">
        <div id="chart-canvas">
            <canvas id="myChart" width="300" height="325"></canvas>
        </div>
    </div>
    <div class="three columns">
        <div id="chart-table">
            <table class="u-full-width">
                <tbody>
                    <tr>
                        <td>{{count context.testplans context.testruns "passed_count"}} ({{percent context.testplans context.testruns "passed_count"}}%)</td>
                        <th>Passed</th>
                    </tr>
                    <tr>
                        <td>{{count context.testplans context.testruns "custom_status1_count"}} ({{percent context.testplans context.testruns "custom_status1_count"}}%)</td>
                        <th>Partial Pass</th>
                    </tr>
                    <tr>
                        <td>{{count context.testplans context.testruns "failed_count"}} ({{percent context.testplans context.testruns "failed_count"}}%)</td>
                        <th>Failed</th>
                    </tr>
                    <tr>
                        <td>{{count context.testplans context.testruns "blocked_count"}} ({{percent context.testplans context.testruns "blocked_count"}}%)</td>
                        <th>Blocked</th>
                    </tr>
                    <tr>
                        <td>{{count context.testplans context.testruns "retest_count"}} ({{percent context.testplans context.testruns "retest_count"}}%)</td>
                        <th>Retest</th>
                    </tr>
                    <tr>
                        <td>{{count context.testplans context.testruns "untested_count"}} ({{percent context.testplans context.testruns "untested_count"}}%)</td>
                        <th>Untested</th>
                    </tr>
                    <tr>
                        <td>{{count context.testplans context.testruns "custom_status2_count"}} ({{percent context.testplans context.testruns "custom_status2_count"}}%)</td>
                        <th>Not In Release</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="two columns">
        <div id="chart-passed">
            <h3>{{percent context.testplans context.testruns "passed_count"}}%<br />passed</h3>
            <h6>{{count context.testplans context.testruns "untested_count"}} / {{countall context.testplans context.testruns}} untested</h6>
        </div>
    </div>
    <div class="one column">
        &nbsp;
    </div>
</div>

<script>
    {{!--
    var data = JSON.parse({{{stringify}}});
    console.log(data);
    --}}
    {{!-- This is how you get your object from the server side to the client --}}
    {{!-- You will need to construct you object so it can be safely parse, e.g. numbers, no quotes --}}

    var ctx = document.getElementById("myChart").getContext("2d");
    ctx.canvas.width = 300;
    ctx.canvas.height = 325;

    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ["Passed", "Partial Pass", "Blocked", "Untested", "Retest", "Failed", "Not In Release"],
            datasets: [{
                label: '# of Votes',
                data: [
                    {{count context.testplans context.testruns "passed_count"}},
                    {{count context.testplans context.testruns "custom_status1_count"}},
                    {{count context.testplans context.testruns "blocked_count"}},
                    {{count context.testplans context.testruns "untested_count"}},
                    {{count context.testplans context.testruns "retest_count"}},
                    {{count context.testplans context.testruns "failed_count"}},
                    {{count context.testplans context.testruns "custom_status2_count"}}
                    ],
                backgroundColor: [
                    'rgba(3, 192, 60, 0.9)',
                    'rgba(253, 253, 150, 0.7)',
                    'rgba(207, 207, 196, 0.7)',
                    'rgba(179, 158, 181, 0.7)',
                    'rgba(199, 199, 95, 0.7)',
                    'rgba(255, 105, 97, 0.9)',
                    'rgba(214, 120, 229, 0.7)',
                ],
                borderColor: [
                    'rgba(3, 192, 60, 1)',
                    'rgba(253, 253, 150, 1)',
                    'rgba(207, 207, 196, 1)',
                    'rgba(179, 158, 181, 1)',
                    'rgba(199, 199, 95, 1)',
                    'rgba(255, 105, 97, 1)',
                    'rgba(214, 120, 229, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            },
            responsive: false
        }
    });
</script>

<!-- +++++++++++++++++++++++++++ ROW 2 +++++++++++++++++++++++++++ -->

<div class="row">
    <div class="twelve columns">
        <div class="my-title">
            <h3>List of tests</h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="one column">
        &nbsp;
    </div>

    <div class="ten columns">
        <table class="u-full-width">
            <thead>
                <tr>
                    <th>
                        TITLE
                    </th>
                    <th>
                        CREATED DATE
                    </th>
                    <th>
                        # OF CASES
                    </th>
                    <th>
                        UNTESTED
                    </th>
                    <th>
                        PASSED %
                    </th>
                </tr>
            </thead>
            <tbody>
                {{#each (concatTwoArrays context.testplans context.testruns)}}
                <tr>
                    <td>
                        {{this.name}}
                    </td>
                    <td class="td-datetime">
                        {{date_trail this.created_on}}
                    </td>
                    <td>
                        {{sumcounts this.passed_count this.blocked_count this.untested_count this.retest_count this.failed_count this.custom_status1_count this.custom_status2_count}}
                    </td>
                    <td>
                        {{this.untested_count}}
                    </td>
                    <th>
                        {{passed_percent this.passed_count this.blocked_count this.untested_count this.retest_count this.failed_count this.custom_status1_count this.custom_status2_count}}%
                    </th>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    
    <div class="one column">
        &nbsp;
    </div>
</div>