<!-- =========================== HEADER ========================== -->

<div class="row">

</div>

<!-- =========================== TITLE =========================== -->
<div class="row">
    <div class="my-title">
        <div class="four columns">
            <h1>Config</h1>
        </div>
        <div class="eight columns">
            <h3 id={{reptemplate.id}}>Selected template: {{reptemplate.name}}</h3>
        </div>
    </div>
</div>

<!-- =========================== BODY  =========================== -->
<!-- +++++++++++++++++++++++++++ ROW 1 +++++++++++++++++++++++++++ -->

<div class="row" id="j-projectheader">
    <div class="my-title">
        <div class="five columns">
            <h3>JIRA projects</h3>
        </div>
        <div class="seven columns">
            <h4 id="jiraselection">Selected: n/a</h4>
        </div>
    </div>
</div>

<!-- +++++++++++++++++++++++++++ ROW 2 ++++++++++++++++++++++++++ -->

<div class="row">
    <div class="twelve columns">
        <table id="jiraprojecttable" class="u-full-width">
            <thead>
                <tr>
                    <th>JIRAKEY</th>
                    <th>NAME</th>
                </tr>
            </thead>
            <tbody>
                {{#each context.jiraprojects}}
                <tr class="j-projectrow" id="{{this.key}}" jiraname="{{this.name}}">
                    <td>{{this.key}}</td>
                    <td>{{this.name}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<!-- +++++++++++++++++++++++++++ ROW 3 ++++++++++++++++++++++++++ -->

<div class="row" id="tr-projectheader">
    <div class="my-title">
        <div class="five columns">
            <h3>TestRail projects</h3>
        </div>
        <div class="seven columns">
            <h4 id="testrailselection">Selected: n/a</h4>
        </div>
    </div>
</div>

<!-- +++++++++++++++++++++++++++ ROW 4 ++++++++++++++++++++++++++ -->

<div class="row">
    <div class="twelve columns">
        <table id="testrailprojecttable" class="u-full-width">
            <thead>
                <tr>
                    <th>TESTRAILID</th>
                    <th>NAME</th>
                </tr>
            </thead>
            <tbody>
                {{#each context.testrailprojects}}
                <tr class="tr-projectrow" id="{{this.id}}" testrailname="{{this.name}}">
                    <td>{{this.id}}</td>
                    <td>{{this.name}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<!-- ++++++++++++++++++++++++ ROWS LAST ++++++++++++++++++++++++++ -->

<div class="row last-row" id="button-row">
    <div class="three columns">
        &nbsp;
    </div>
    <div class="six columns textalign-middle">
        <button class="button-primary" id="selecitonsubmit">Submit Selection</button>
    </div>
    <div class="three columns">
        &nbsp;
    </div>
</div>

<div class="row last-row" id="button-overlay">
    <div class="three columns">
        &nbsp;
    </div>
    <div class="six columns textalign-middle">
        <img src="pics/dashinfinity.gif" />
    </div>
    <div class="three columns">
        &nbsp;
    </div>
</div>

<!-- ++++++++++++++++++++++++++ SCRIPTS ++++++++++++++++++++++++++ -->

<script src="js/my-events/events-00-globals.js"></script>
<script src="js/my-events/events-02-project-selection.js"></script>