<!-- ============================ NAV ============================ -->

<div class="row navbar">
    <div class="row">
        <div class="three columns">
            <span class="navheader">Report Generation</span>
        </div>
        <div class="three columns">
            <span class="navitem" id="nav-01">Template selection</span>
        </div>
        <div class="three columns">
            <span class="navitem" id="nav-02">Project selection</span>
        </div>
        <div class="three columns">
            <span class="navitem" id="nav-03">Issue seleciton</span>
        </div>
    </div>
</div>

<!-- =========================== HEADER ========================== -->

<div class="row">

</div>

<!-- =========================== TITLE =========================== -->

<div class="row">
    <div class="my-title">
        <div class="four columns">
            <h1>Project Content</h1>
        </div>
        <div class="eight columns">
            <h3>Selected template: {{reptemplate.name}}</h3>
        </div>
    </div>
</div>

<!-- =========================== BODY  =========================== -->
<!-- +++++++++++++++++++++++++++ ROWS 0 ++++++++++++++++++++++++++ -->

<div class="row">
    <div class="my-title-with-border">
        <h4>Report Title</h4>
    </div>
</div>
<div class="row">
    <div class="six columns">
        <label for="reporttitle">Title</label>
        <input class="u-full-width" type="text" placeholder="Some elaborate title" id="reporttitle">
    </div>
    <div class="six columns">
        &nbsp;
    </div>
</div>

<!-- +++++++++++++++++++++++++++ ROWS 1 ++++++++++++++++++++++++++ -->

<div class="row" id="jirastories" {{{display reptemplate.calls.jira.story}}}>
    <div class="row">
        <div class="my-title-with-border">
            <h4>JIRA Stories</h4>
        </div>
    </div>

    <div class="row expanded" id="filter-expanded-story">
        <div class="one column">
            <img id="collapse-icon-story" src="pics/collapse.png" />
        </div>
        <div class="one column">
            <h5>Filters</h5>
        </div>
        <div class="two columns">
            &nbsp;
        </div>
        <div class="two columns">
            <div class="filter-title">Start Date</div>
            <div class="u-full-width">
                <input class="u-full-width" type="text" placeholder="Nov 5, 1955" id="story-datefilter-start">
            </div>
            <div class="filter-title">End Date</div>
            <div class="u-full-width">
                <input class="u-full-width" type="text" placeholder="Oct 2, 2015" id="story-datefilter-end">
            </div>
        </div>
        <div class="two columns">
            {{!--<input type="text" class="column_filter" id="story-sprintfilter" placeholder="Sprint">--}}
            <div class="filter-title">Sprints</div>
            <select class="filter-select u-full-width" id="story-sprintfilter-select" multiple>
                {{#each sprints.story}}
                    <option selected="selected">{{this}}</option>
                {{/each}}
            </select>
        </div>
        <div class="two columns">
            {{!--<input type="text" class="column_filter" id="story-versionfilter" placeholder="Version">--}}
            <div class="filter-title">Versions</div>
            <select class="filter-select u-full-width" id="story-versionfilter-select" multiple>
                {{#each versions.story}}
                    <option selected="selected">{{this}}</option>
                {{/each}}
            </select>
        </div>
        <div class="two columns">
            {{!--<input type="text" class="column_filter" id="story-statusfilter" placeholder="Status">--}}
            <div class="filter-title">Statuses</div>
            <select class="filter-select u-full-width" id="story-statusfilter-select" multiple>
                {{#each statuses.story}}
                    <option selected="selected">{{this}}</option>
                {{/each}}
            </select>
        </div>
    </div>

    <div class="row collapsed" id="filter-collapsed-story">
        <div class="one column">
            <img id="expand-icon-story" src="pics/expand.png" />
        </div>
        <div class="one column">
            <h5>Filters</h5>
        </div>
        <div class="ten columns">
            &nbsp;
        </div>
    </div>

    <div class="row">
        <div class="one column">
            <div class="filter-title">
                Selection help
            </div>
        </div>
        <div class="two columns">
            <img src="pics/Select All-50.png" height="20" width="20" id="story-selectall" class="select-help-icon" title="Select All" />
            <img src="pics/Invert Selection-50.png" height="20" width="20" id="story-selectinvert" class="select-help-icon" title="Invert Selection" />
            <img src="pics/Select None-50.png" height="20" width="20" id="story-selectnone" class="select-help-icon" title="Select None" />
        </div>
        <div class="nine columns">
            &nbsp;
        </div>
    </div>

    <div class="row">
        <div class="twelve columns">
            <table id="storiestable" rowscount="{{context.stories.length}}">
                <thead>
                    <tr>
                        <th>TYPE</th>
                        <th>KEY</th>
                        <th>SUMMARY</th>
                        <th>UPDATED</th>
                        <th>SPRINT</th>
                        <th>FIXVERSION</th>
                        <th>STATUS</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each context.stories}}
                    <tr class="storyrow" id="{{this.key}}">
                        <td><img src="{{this.fields.issuetype.iconUrl}}" style="margin-bottom:-4px" /></td>
                        <td class="td-key">{{this.key}}</td>
                        <td>{{this.fields.summary}}</td>
                        <td class="td-datetime">{{date this.fields.updated}}</td>
                        <td class="td-sprint">{{{resolve_sprint this.fields.customfield_10019 ../projectkey.key}}}</td>
                        <td class="td-version">{{{versions this.fields.fixVersions}}}</td>
                        <td>{{this.fields.status.name}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="myselection">
            <div class="two columns">
                <h5>Selected:</h5>
            </div>
            <div class="ten columns">
                <div id="selectedstories"></div>
            </div>
        </div>
    </div>
</div>

<!-- +++++++++++++++++++++++++++ ROWS 2 ++++++++++++++++++++++++++ -->
<div class="row" id="jiratasks" {{{display reptemplate.calls.jira.task}}}>
    <div class="row">
        <div class="my-title-with-border">
            <h4>JIRA Tasks</h4>
        </div>
    </div>

    <div class="row expanded" id="filter-expanded-task">
        <div class="one column">
            <img id="collapse-icon-task" src="pics/collapse.png" />
        </div>
        <div class="one column">
            <h5>Filters</h5>
        </div>
        <div class="two columns">
            &nbsp;
        </div>
        <div class="two columns">
            <div class="filter-title">Start Date</div>
            <div class="u-full-width">
                <input class="u-full-width" type="text" placeholder="Nov 5, 1955" id="task-datefilter-start">
            </div>
            <div class="filter-title">End Date</div>
            <div class="u-full-width">
                <input class="u-full-width" type="text" placeholder="Oct 2, 2015" id="task-datefilter-end">
            </div>
        </div>
        <div class="two columns">
            {{!--<input type="text" class="column_filter" id="task-sprintfilter" placeholder="Sprint">--}}
            <div class="filter-title">Sprints</div>
            <select class="filter-select u-full-width" id="task-sprintfilter-select" multiple>
                {{#each sprints.task}}
                    <option selected="selected">{{this}}</option>
                {{/each}}
            </select>
        </div>
        <div class="two columns">
            {{!--<input type="text" class="column_filter" id="task-versionfilter" placeholder="Version">--}}
            <div class="filter-title">Versions</div>
            <select class="filter-select u-full-width" id="task-versionfilter-select" multiple>
                {{#each versions.task}}
                    <option selected="selected">{{this}}</option>
                {{/each}}
            </select>
        </div>
        <div class="two columns">
            {{!--<input type="text" class="column_filter" id="task-statusfilter" placeholder="Status">--}}
            <div class="filter-title">Statuses</div>
            <select class="filter-select u-full-width" id="task-statusfilter-select" multiple>
                {{#each statuses.task}}
                    <option selected="selected">{{this}}</option>
                {{/each}}
            </select>
        </div>
    </div>

    <div class="row collapsed" id="filter-collapsed-task">
        <div class="one column">
            <img id="expand-icon-task" src="pics/expand.png" />
        </div>
        <div class="one column">
            <h5>Filters</h5>
        </div>
        <div class="ten columns">
            &nbsp;
        </div>
    </div>

    <div class="row">
        <div class="one column">
            <div class="filter-title">
                Selection help
            </div>
        </div>
        <div class="two columns">
            <img src="pics/Select All-50.png" height="20" width="20" id="task-selectall" class="select-help-icon" title="Select All" />
            <img src="pics/Invert Selection-50.png" height="20" width="20" id="task-selectinvert" class="select-help-icon" title="Invert Selection" />
            <img src="pics/Select None-50.png" height="20" width="20" id="task-selectnone" class="select-help-icon" title="Select None" />
        </div>
        <div class="nine columns">
            &nbsp;
        </div>
    </div>

    <div class="row">
        <div class="twelve columns">
            <table id="taskstable" rowscount="{{context.tasks.length}}">
                <thead>
                    <tr>
                        <th>TYPE</th>
                        <th>KEY</th>
                        <th>SUMMARY</th>
                        <th>UPDATED</th>
                        <th>SPRINT</th>
                        <th>FIXVERSION</th>
                        <th>STATUS</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each context.tasks}}
                    <tr class="taskrow" id="{{this.key}}">
                        <td><img src="{{this.fields.issuetype.iconUrl}}" style="margin-bottom:-4px" /></td>
                        <td class="td-key">{{this.key}}</td>
                        <td>{{this.fields.summary}}</td>
                        <td class="td-datetime">{{date this.fields.updated}}</td>
                        <td class="td-sprint">{{{resolve_sprint this.fields.customfield_10019 ../projectkey.key}}}</td>
                        <td class="td-version">{{{versions this.fields.fixVersions}}}</td>
                        <td>{{this.fields.status.name}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="myselection">
            <div class="two columns">
                <h5>Selected:</h5>
            </div>
            <div class="ten columns">
                <div id="selectedtasks"></div>
            </div>
        </div>
    </div>
</div>

<!-- +++++++++++++++++++++++++++ ROWS 3 ++++++++++++++++++++++++++ -->
<div class="row" id="jirabugs" {{{display reptemplate.calls.jira.bug}}}>
    <div class="row">
        <div class="my-title-with-border">
            <h4>JIRA Bugs</h4>
        </div>
    </div>

    <div class="row expanded" id="filter-expanded-bug">
        <div class="one column">
            <img id="collapse-icon-bug" src="pics/collapse.png" />
        </div>
        <div class="one column">
            <h5>Filters</h5>
        </div>
        <div class="two columns">
            &nbsp;
        </div>
        <div class="two columns">
            <div class="filter-title">Start Date</div>
            <div class="u-full-width">
                <input class="u-full-width" type="text" placeholder="Nov 5, 1955" id="bug-datefilter-start">
            </div>
            <div class="filter-title">End Date</div>
            <div class="u-full-width">
                <input class="u-full-width" type="text" placeholder="Oct 2, 2015" id="bug-datefilter-end">
            </div>
        </div>
        <div class="two columns">
            {{!--<input type="text" class="column_filter" id="bug-sprintfilter" placeholder="Sprint">--}}
            <div class="filter-title">Sprints</div>
            <select class="filter-select u-full-width" id="bug-sprintfilter-select" multiple>
                {{#each sprints.bug}}
                    <option selected="selected">{{this}}</option>
                {{/each}}
            </select>
        </div>
        <div class="two columns">
            {{!--<input type="text" class="column_filter" id="bug-versionfilter" placeholder="Version">--}}
            <div class="filter-title">Versions</div>
            <select class="filter-select u-full-width" id="bug-versionfilter-select" multiple>
                {{#each versions.bug}}
                    <option selected="selected">{{this}}</option>
                {{/each}}
            </select>
        </div>
        <div class="two columns">
            {{!--<input type="text" class="column_filter" id="bug-statusfilter" placeholder="Status">--}}
            <div class="filter-title">Statuses</div>
            <select class="filter-select u-full-width" id="bug-statusfilter-select" multiple>
                {{#each statuses.bug}}
                    <option selected="selected">{{this}}</option>
                {{/each}}
            </select>
        </div>
    </div>

    <div class="row collapsed" id="filter-collapsed-bug">
        <div class="one column">
            <img id="expand-icon-bug" src="pics/expand.png" />
        </div>
        <div class="one column">
            <h5>Filters</h5>
        </div>
        <div class="ten columns">
            &nbsp;
        </div>
    </div>

    <div class="row">
        <div class="one column">
            <div class="filter-title">
                Selection help
            </div>
        </div>
        <div class="two columns">
            <img src="pics/Select All-50.png" height="20" width="20" id="bug-selectall" class="select-help-icon" title="Select All" />
            <img src="pics/Invert Selection-50.png" height="20" width="20" id="bug-selectinvert" class="select-help-icon" title="Invert Selection" />
            <img src="pics/Select None-50.png" height="20" width="20" id="bug-selectnone" class="select-help-icon" title="Select None" />
        </div>
        <div class="nine columns">
            &nbsp;
        </div>
    </div>

    <div class="row">
        <div class="twelve columns">
            <table id="bugstable" rowscount="{{context.bugs.length}}">
                <thead>
                    <tr>
                        <th>TYPE</th>
                        <th>KEY</th>
                        <th>SUMMARY</th>
                        <th>UPDATED</th>
                        <th>SPRINT</th>
                        <th>FIXVERSION</th>
                        <th>STATUS</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each context.bugs}}
                    <tr class="bugrow" id="{{this.key}}">
                        <td><img src="{{this.fields.issuetype.iconUrl}}" style="margin-bottom:-4px" /></td>
                        <td class="td-key">{{this.key}}</td>
                        <td>{{this.fields.summary}}</td>
                        <td class="td-datetime">{{date this.fields.updated}}</td>
                        <td class="td-sprint">{{{resolve_sprint this.fields.customfield_10019 ../projectkey.key}}}</td>
                        <td class="td-version">{{{versions this.fields.fixVersions}}}</td>
                        <td>{{this.fields.status.name}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="myselection">
            <div class="two columns">
                <h5>Selected:</h5>
            </div>
            <div class="ten columns">
                <div id="selectedbugs"></div>
            </div>
        </div>
    </div>
</div>

<!-- +++++++++++++++++++++++++++ ROWS 4 ++++++++++++++++++++++++++ -->

<div class="row" id="testrailplans" {{{display reptemplate.calls.testrail.plans}}}>
    <div class="row">
        <div class="my-title-with-border">
            <h4>TestRail Plans</h4>
        </div>
    </div>

    <div class="row expanded" id="filter-expanded-tplan">
        <div class="one column">
            <img id="collapse-icon-tplan" src="pics/collapse.png" />
        </div>
        <div class="one column">
            <h5>Filters</h5>
        </div>
        <div class="two columns">
            &nbsp;
        </div>
        <div class="two columns">
            <div class="filter-title">Start Date</div>
            <div class="u-full-width">
                <input class="u-full-width" type="text" placeholder="Nov 5, 1955" id="tplan-datefilter-start">
            </div>
            <div class="filter-title">End Date</div>
            <div class="u-full-width">
                <input class="u-full-width" type="text" placeholder="Oct 2, 2015" id="tplan-datefilter-end">
            </div>
        </div>
        <div class="two columns">
            &nbsp;
        </div>
        <div class="two columns">
            &nbsp;
        </div>
        <div class="two columns">
            <input type="text" class="column_filter" id="tplan-searchfilter" placeholder="Search">
        </div>
    </div>

    <div class="row collapsed" id="filter-collapsed-tplan">
        <div class="one column">
            <img id="expand-icon-tplan" src="pics/expand.png" />
        </div>
        <div class="one column">
            <h5>Filters</h5>
        </div>
        <div class="ten columns">
            &nbsp;
        </div>
    </div>

    <div class="row">
        <div class="one column">
            <div class="filter-title">
                Selection help
            </div>
        </div>
        <div class="two columns">
            <img src="pics/Select All-50.png" height="20" width="20" id="tplan-selectall" class="select-help-icon" title="Select All" />
            <img src="pics/Invert Selection-50.png" height="20" width="20" id="tplan-selectinvert" class="select-help-icon" title="Invert Selection" />
            <img src="pics/Select None-50.png" height="20" width="20" id="tplan-selectnone" class="select-help-icon" title="Select None" />
        </div>
        <div class="nine columns">
            &nbsp;
        </div>
    </div>

    <div class="row">
        <div class="twelve columns">
            <table id="testplanstable" rowscount="{{context.testplans.length}}">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NAME</th>
                        <th>CREATED DATE</th>
                        <th>PASSED</th>
                        <th>PARTIAL PASS</th>
                        <th>BLOCKED</th>
                        <th>UNTESTED</th>
                        <th>RETEST</th>
                        <th>FAILED</th>
                        <th>NOT IN RELEASE</th>
                        <th>RUNS SUM</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each context.testplans}}
                    <tr class="testplanrow" id="{{this.id}}">
                        <td>{{this.id}}</td>
                        <td>{{this.name}}</td>
                        <td class="td-datetime">{{date_trail this.created_on}}</td>
                        <td>{{this.passed_count}}</td>
                        <td>{{this.custom_status1_count}}</td>
                        <td>{{this.blocked_count}}</td>
                        <td>{{this.untested_count}}</td>
                        <td>{{this.retest_count}}</td>
                        <td>{{this.failed_count}}</td>
                        <td>{{this.custom_status2_count}}</td>
                        <td>{{sumcounts passed_count blocked_count untested_count retest_count failed_count custom_status1_count custom_status2_count}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="myselection">
            <div class="two columns">
                <h5>Selected:</h5>
            </div>
            <div class="ten columns">
                <div id="selectedtestplans"></div>
            </div>
        </div>
    </div>

</div>
<!-- +++++++++++++++++++++++++++ ROWS 5 ++++++++++++++++++++++++++ -->
<div class="row" id="testrailruns" {{{display reptemplate.calls.testrail.runs}}}>
    <div class="row">
        <div class="my-title-with-border">
            <h4>TestRail Runs</h4>
        </div>
    </div>

    <div class="row expanded" id="filter-expanded-trun">
        <div class="one column">
            <img id="collapse-icon-trun" src="pics/collapse.png" />
        </div>
        <div class="one column">
            <h5>Filters</h5>
        </div>
        <div class="two columns">
            &nbsp;
        </div>
        <div class="two columns">
            <div class="filter-title">Start Date</div>
            <div class="u-full-width">
                <input class="u-full-width" type="text" placeholder="Nov 5, 1955" id="trun-datefilter-start">
            </div>
            <div class="filter-title">End Date</div>
            <div class="u-full-width">
                <input class="u-full-width" type="text" placeholder="Oct 2, 2015" id="trun-datefilter-end">
            </div>
        </div>
        <div class="two columns">
            &nbsp;
        </div>
        <div class="two columns">
            &nbsp;
        </div>
        <div class="two columns">
            <input type="text" class="column_filter" id="trun-searchfilter" placeholder="Search">
        </div>
    </div>

    <div class="row collapsed" id="filter-collapsed-trun">
        <div class="one column">
            <img id="expand-icon-trun" src="pics/expand.png" />
        </div>
        <div class="one column">
            <h5>Filters</h5>
        </div>
        <div class="ten columns">
            &nbsp;
        </div>
    </div>

    <div class="row">
        <div class="one column">
            <div class="filter-title">
                Selection help
            </div>
        </div>
        <div class="two columns">
            <img src="pics/Select All-50.png" height="20" width="20" id="trun-selectall" class="select-help-icon" title="Select All" />
            <img src="pics/Invert Selection-50.png" height="20" width="20" id="trun-selectinvert" class="select-help-icon" title="Invert Selection" />
            <img src="pics/Select None-50.png" height="20" width="20" id="trun-selectnone" class="select-help-icon" title="Select None" />
        </div>
        <div class="nine columns">
            &nbsp;
        </div>
    </div>

    <div class="row">
        <div class="twelve columns">
            <table id="testrunstable" rowscount="{{context.testruns.length}}">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NAME</th>
                        <th>CREATED DATE</th>
                        <th>PASSED</th>
                        <th>PARTIAL PASS</th>
                        <th>BLOCKED</th>
                        <th>UNTESTED</th>
                        <th>RETEST</th>
                        <th>FAILED</th>
                        <th>NOT IN RELEASE</th>
                        <th>RUNS SUM</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each context.testruns}}
                    <tr class="testrunrow" id="{{this.id}}">
                        <td>{{this.id}}</td>
                        <td>{{this.name}}</td>
                        <td class="td-datetime">{{date_trail this.created_on}}</td>
                        <td>{{this.passed_count}}</td>
                        <td>{{this.custom_status1_count}}</td>
                        <td>{{this.blocked_count}}</td>
                        <td>{{this.untested_count}}</td>
                        <td>{{this.retest_count}}</td>
                        <td>{{this.failed_count}}</td>
                        <td>{{this.custom_status2_count}}</td>
                        <td>{{sumcounts passed_count blocked_count untested_count retest_count failed_count custom_status1_count custom_status2_count}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="myselection">
            <div class="two columns">
                <h5>Selected:</h5>
            </div>
            <div class="ten columns">
                <div id="selectedtestruns"></div>
            </div>
        </div>
    </div>

</div>

<!-- ++++++++++++++++++++++++ ROWS LAST ++++++++++++++++++++++++++ -->

<div class="row last-row" id="button-row">
    <div class="three columns">
        &nbsp;
    </div>
    <div class="six columns textalign-middle">
        <button class="button-primary" id="selecitonsubmit">Submit Selection</button>
    </div>
    <div class="three columns">
        &nbsp;
    </div>
</div>

<div class="row last-row" id="button-overlay">
    <div class="three columns">
        &nbsp;
    </div>
    <div class="six columns textalign-middle">
        <img src="pics/dashinfinity.gif" />
    </div>
    <div class="three columns">
        &nbsp;
    </div>
</div>

<!-- ++++++++++++++++++++++++++ SCRIPTS ++++++++++++++++++++++++++ -->

<script src="js/my-events/00/events-00-globals.js"></script>
<script src="js/my-events/00/events-00-sharedfunctions.js"></script>
<script src="js/my-events/00/events-00-datatable-filtering.js"></script>
<script src="js/my-events/03/events-03-issues-selection.js"></script>