<!-- =========================== HEADER ========================== -->

<div class="row">

</div>

<!-- =========================== TITLE =========================== -->
<div class="row">
    <div class="eleven columns">
        <h1>Config</h1>
    </div>
</div>

<!-- =========================== BODY  =========================== -->
<!-- +++++++++++++++++++++++++++ ROW 1 +++++++++++++++++++++++++++ -->

<div class="row">
    <div class="one column">
        &nbsp;
    </div>
    <div class="nine columns">
        <h3>JIRA projects</h3>
        <select id="projectselect" size=10 autocomplete="off">
            {{#each context}}
                <option id="projectoption" value="{{this.jirakey}}" jiraname="{{this.jiraname}}" jiraid="{{this.jiraid}}"
                    testrailid="{{this.testrailid}}" testrailname="{{this.testrailname}}">{{this.jirakey}}: {{this.jiraname}}</option>
            {{/each}}
        </select>
        <table id="projecttable" class="u-full-width">
            <thead>
                <tr>
                    <th>TESTRAILID</th>
                    <th>JIRAID</th>
                    <th>JIRAKEY</th>
                    <th>NAME</th>
                </tr>
            </thead>
            <tbody>
                {{#each context}}
                <tr id="{{this.jirakey}}" jiraname="{{this.jiraname}}" jiraid="{{this.jiraid}}"
                    testrailid="{{this.testrailid}}" testrailname="{{this.testrailname}}">
                    <td>{{this.testrailid}}</td>
                    <td>{{this.jiraid}}</td>
                    <td>{{this.jirakey}}</td>
                    <td>{{this.jiraname}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="one column">
        <button id="projectsubmit">OK</button>
    </div> 
    <div class="one column">
        &nbsp;
    </div> 
</div>

<!-- +++++++++++++++++++++++++++ ROW 2 +++++++++++++++++++++++++++ -->

<div class="row">
    <div class="one column">
        &nbsp;
    </div>
    <div class="ten columns">
        
    </div>
    <div class="one column">
        &nbsp;
    </div>
</div>

<!-- +++++++++++++++++++++++++++ ROW 3 +++++++++++++++++++++++++++ -->

<div class="row">
    
</div>

<!-- ++++++++++++++++++++++++++ SCRIPTS ++++++++++++++++++++++++++ -->
<script src="js/events-globals.js"></script>
<script src="js/events-home.js"></script>