<!-- =========================== HEADER ========================== -->

<div class="row">

</div>

<!-- =========================== TITLE =========================== -->
<div class="row">
    <div class="eleven columns">
        <h1>Config</h1>
    </div>
</div>

<!-- =========================== BODY  =========================== -->
<!-- +++++++++++++++++++++++++++ ROW 1 +++++++++++++++++++++++++++ -->

<div class="row">
    <div class="one column">
        &nbsp;
    </div>
    <div class="nine columns">
        <h3>JIRA projects</h3>
        {{debug context}}
        {{#each context.jira}}
            <p>{{this.key}}: {{this.name}}</p>
        {{/each}}
        <h3>TestRail projects</h3>
        {{#each context.testrail}}
            <p>{{id}}: {{name}}</p>
        {{/each}}
    </div>
    <div class="one column">
        <button id="submitproject">OK</button>
    </div> 
    <div class="one column">
        &nbsp;
    </div> 
</div>

<!-- +++++++++++++++++++++++++++ ROW 2 +++++++++++++++++++++++++++ -->

<div class="row">
    <div class="one column">
        &nbsp;
    </div>
    <div class="ten columns">
        
    </div>
    <div class="one column">
        &nbsp;
    </div>
</div>

<!-- +++++++++++++++++++++++++++ ROW 3 +++++++++++++++++++++++++++ -->

<div class="row">
    
</div>