<!-- =========================== HEADER ========================== -->

<div class="row">

</div>

<!-- =========================== TITLE =========================== -->
<div class="row">
    <div class="twelve columns">
        <h1 class="my-title">Project Content</h1>
    </div>
</div>

<!-- =========================== BODY  =========================== -->
<!-- +++++++++++++++++++++++++++ ROWS 0 ++++++++++++++++++++++++++ -->

<div class="row">
    <div class="my-title-with-border">
        <h4>Report Title</h4>
    </div>
</div>
<div class="row">
    <div class="six columns">
        <label for="reporttitle">Title</label>
        <input class="u-full-width" type="text" placeholder="Some elaborate title" id="reporttitle">
    </div>
    <div class="six columns">
        &nbsp;
    </div>
</div>

<!-- +++++++++++++++++++++++++++ ROWS 1 ++++++++++++++++++++++++++ -->

<div class="row">
    <div class="my-title-with-border">
        <h4>JIRA Stories</h4>
    </div>
</div>
<div class="row">
    <div class="twelve columns">
        <table id="storiestable" rowscount="{{context.stories.length}}">
            <thead>
                <tr>
                    <th>ISSUETYPE</th>
                    <th>KEY</th>
                    <th>SUMMARY</th>
                    <th>STATUS</th>
                </tr>
            </thead>
            <tbody>
                {{#each context.stories}}
                <tr class="storyrow" id="{{this.key}}">
                    <td><img src="{{this.fields.issuetype.iconUrl}}" style="margin-bottom:-4px" /></td>
                    <td>{{this.key}}</td>
                    <td>{{this.fields.summary}}</td>
                    <td>{{this.fields.status.name}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="myselection">
        <div class="two columns">
            <h5>Selected:</h5>
        </div>
        <div class="ten columns">
            <div id="selectedstories"></div>
        </div>
    </div>
</div>

<!-- +++++++++++++++++++++++++++ ROWS 2 ++++++++++++++++++++++++++ -->

<div class="row">
    <div class="my-title-with-border">
        <h4>JIRA Tasks</h4>
    </div>
</div>
<div class="row">
    <div class="twelve columns">
        <table id="taskstable" rowscount="{{context.tasks.length}}">
            <thead>
                <tr>
                    <th>ISSUETYPE</th>
                    <th>KEY</th>
                    <th>SUMMARY</th>
                    <th>STATUS</th>
                </tr>
            </thead>
            <tbody>
                {{#each context.tasks}}
                <tr class="taskrow" id="{{this.key}}">
                    <td><img src="{{this.fields.issuetype.iconUrl}}" style="margin-bottom:-4px" /></td>
                    <td>{{this.key}}</td>
                    <td>{{this.fields.summary}}</td>
                    <td>{{this.fields.status.name}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="myselection">
        <div class="two columns">
            <h5>Selected:</h5>
        </div>
        <div class="ten columns">
            <div id="selectedtasks"></div>
        </div>
    </div>
</div>

<!-- +++++++++++++++++++++++++++ ROWS 3 ++++++++++++++++++++++++++ -->

<div class="row">
    <div class="my-title-with-border">
        <h4>JIRA Bugs</h4>
    </div>
</div>
<div class="row">
    <div class="twelve columns">
        <table id="bugstable" rowscount="{{context.bugs.length}}">
            <thead>
                <tr>
                    <th>ISSUETYPE</th>
                    <th>KEY</th>
                    <th>SUMMARY</th>
                    <th>STATUS</th>
                </tr>
            </thead>
            <tbody>
                {{#each context.bugs}}
                <tr class="bugrow" id="{{this.key}}">
                    <td><img src="{{this.fields.issuetype.iconUrl}}" style="margin-bottom:-4px" /></td>
                    <td>{{this.key}}</td>
                    <td>{{this.fields.summary}}</td>
                    <td>{{this.fields.status.name}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="myselection">
        <div class="two columns">
            <h5>Selected:</h5>
        </div>
        <div class="ten columns">
            <div id="selectedbugs"></div>
        </div>
    </div>
</div>

<!-- +++++++++++++++++++++++++++ ROWS 4 ++++++++++++++++++++++++++ -->

<div class="row">
    <div class="my-title-with-border">
        <h4>TestRail Plans</h4>
    </div>
</div>
<div class="row">
    <div class="twelve columns">
        <table id="testplanstable" rowscount="{{context.testplans.length}}">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>PASSED</th>
                    <th>BLOCKED</th>
                    <th>UNTESTED</th>
                    <th>RETEST</th>
                    <th>FAILED</th>
                    <th>RUNS SUM</th>
                </tr>
            </thead>
            <tbody>
                {{#each context.testplans}}
                <tr class="testplanrow" id="{{this.id}}">
                    <td>{{this.id}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.passed_count}}</td>
                    <td>{{this.blocked_count}}</td>
                    <td>{{this.untested_count}}</td>
                    <td>{{this.retest_count}}</td>
                    <td>{{this.failed_count}}</td>
                    <td>{{sumcounts passed_count blocked_count untested_count retest_count failed_count}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="myselection">
        <div class="two columns">
            <h5>Selected:</h5>
        </div>
        <div class="ten columns">
            <div id="selectedtestplans"></div>
        </div>
    </div>
</div>

<!-- +++++++++++++++++++++++++++ ROWS 5 ++++++++++++++++++++++++++ -->

<div class="row">
    <div class="my-title-with-border">
        <h4>TestRail Runs</h4>
    </div>
</div>
<div class="row">
    <div class="twelve columns">
        <table id="testrunstable" rowscount="{{context.testruns.length}}">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>PASSED</th>
                    <th>BLOCKED</th>
                    <th>UNTESTED</th>
                    <th>RETEST</th>
                    <th>FAILED</th>
                    <th>RUNS SUM</th>
                </tr>
            </thead>
            <tbody>
                {{#each context.testruns}}
                <tr class="testrunrow" id="{{this.id}}">
                    <td>{{this.id}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.passed_count}}</td>
                    <td>{{this.blocked_count}}</td>
                    <td>{{this.untested_count}}</td>
                    <td>{{this.retest_count}}</td>
                    <td>{{this.failed_count}}</td>
                    <td>{{sumcounts passed_count blocked_count untested_count retest_count failed_count}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="myselection">
        <div class="two columns">
            <h5>Selected:</h5>
        </div>
        <div class="ten columns">
            <div id="selectedtestruns"></div>
        </div>
    </div>
</div>

<!-- ++++++++++++++++++++++++ ROWS LAST ++++++++++++++++++++++++++ -->

<div class="row last-row" id="button-row">
    <div class="three columns">
        &nbsp;
    </div>
    <div class="six columns textalign-middle">
        <button class="button-primary" id="selecitonsubmit">Submit Selection</button>
    </div>
    <div class="three columns">
        &nbsp;
    </div>
</div>

<div class="row last-row" id="button-overlay">
    <div class="three columns">
        &nbsp;
    </div>
    <div class="six columns textalign-middle">
        <img src="pics/dashinfinity.gif" />
    </div>
    <div class="three columns">
        &nbsp;
    </div>
</div>

<!-- ++++++++++++++++++++++++++ SCRIPTS ++++++++++++++++++++++++++ -->

<script src="js/events-globals.js"></script>
<script src="js/events-repoptions.js"></script>